@model IEnumerable<ApiSportXperience.Models.ParticipantOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Option)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Option.OptionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant.UserDni)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParticipantOptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParticipantOptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParticipantOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
